# App
PORT=3000
RAILS_MAX_THREADS=5
JOB_CONCURRENCY=1
RAILS_LOG_LEVEL=info

# MySQL connection
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=

# Database names
DB_NAME_DEVELOPMENT=ror1_school_manager_development
DB_NAME_TEST=ror1_school_manager_test
DB_NAME_PRODUCTION=ror1_school_manager_production
DB_NAME_PRODUCTION_CACHE=ror1_school_manager_production_cache
DB_NAME_PRODUCTION_QUEUE=ror1_school_manager_production_queue
DB_NAME_PRODUCTION_CABLE=ror1_school_manager_production_cable

# Optional Puma / queue settings
# SOLID_QUEUE_IN_PUMA=1
# PIDFILE=tmp/pids/server.pid
